<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
      <add key="Application Name" value="Act up - App" /> 
   </appSettings>

   <system.web>
     
    <customErrors mode="RemoteOnly" defaultRedirect="/500.html" redirectMode="ResponseRewrite">
        <error statusCode="401" redirect="/401.html" />
        <error statusCode="403" redirect="/403.html" /> 
        <error statusCode="500" redirect="/500.html" />
    </customErrors>
<!-- 
<customErrors mode="Off"/> 
-->    
  </system.web>
</configuration>
