<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
      <add key="Application Name" value="Act up - App" /> 
   </appSettings>

   <system.web>
<customErrors mode="Off"/> 
<!--   
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/genericError.aspx">
      <error statusCode="400" redirect="~/400.aspx" />
      <error statusCode="401" redirect="~/401.aspx" />
      <error statusCode="403" redirect="~/403.aspx" /> 
      <error statusCode="500" redirect="~/500.aspx" />
    </customErrors>
  
   
<customErrors mode="RemoteOnly" defaultRedirect="~/500.aspx" redirectMode="ResponseRewrite"/>
--> 
  </system.web>
</configuration>
